/* Overall website */

body {
    background-color: rgb(29, 28, 28);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: teal;
    font-family: 'Arima Madurai', cursive;
}

p, li {
    font-family: 'Padauk', sans-serif;
}

a {
    font-family: 'Padauk', sans-serif;
    color: rgb(221, 221, 221);
    text-decoration: underline;
}

hr {
    height: 1px;
    background-color: rgb(238, 234, 28);
    margin-bottom: 30px;
}

.navbar {
    padding:0 20px;
    background-color: rgb(29, 28, 28);
}

.navbar-brand {
    padding: 20px;
    font-size: 15px;
    margin: 0;
}

.nav-btn {
    margin: 10px 5px;
    padding: 20px;
    font-size: 30px;
    font-family: 'Arima Madurai', cursive;
    color:rgb(221, 221, 221);
    border-color: rgb(238, 234, 28);
}

.container {
    margin: 20px;
}

.wrapper {
    margin: 20px auto;
}

.index-text {
    text-align: center;
}

.card {
    margin: 20px;
    overflow: auto;
    clear: both;
    background-color: teal;
}

.card-body {
    margin: 20px;
    position: relative;
    background-color: rgb(29, 28, 28);
    color: rgb(221, 221, 221);
    font-size: 20px;
}

/* About */

.img-about{
    float: left;
    margin-right: 20px;
    width: 300px;
    height: auto;
}

.cursive {
    color: rgb(221, 221, 221);
    margin-left: 40px;
    padding: 15px;
}

.cursive h1 {
    color: rgb(221, 221, 221);
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    font-family: 'Reenie Beanie', cursive;
}

.signature {
    font-size: 50px;
    font-family: 'Reenie Beanie', cursive;
}

/* Portfolio */

.img-portfolio {
    width: 300px;
    height: 200px;
}

.col-md-6 {
    flex: 33.33%;
    padding: 5px;
    margin: 10px;
}

/* Contact */

form {
    color: rgb(221, 221, 221);
    font-family: 'Arima Madurai', cursive;
}

.btn-primary {
    background-color: teal;
    border-color: rgb(238, 234, 28);
}
